

.container-title {
  text-align: center;
  color: #00bcd4;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  
  white-space: nowrap;
  margin-right: 5px;
  font-size: 12px;
}
.col-auto{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

input, select, textarea {
  padding: 2px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input{
  width: 70%;
}
select{
  margin-right: 0 !important;
  padding: 4px !important;
  width: 70% !important;
}
textarea {
  resize: none;
}

input[readonly], input[disabled] {
  background: #f0f0f0;
}
.input-with-icon input {
  flex: 1;
  padding-right: 32px; /* Khoảng trống cho icon */
}

.form-actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.btn.yellow {
  background-color: #ffeb3b;
  color: #333;
}

.btn.red {
  background-color: #f44336;
}

.btn.blue {
  background-color: #2196f3;
}

.btn.teal {
  background-color: #009688;
}
